#grades {
    display: none;
}

#loader {
    display: none;
}

#loader .dimmer, #loader .segment {
    height: 300px;
}

#errorBox {
    display:none;
}

#submitForm {
    margin-top:27px;
}

.studentForm{
    margin-top: 10px;
}

.studentForm label{
    margin-bottom: 5px !important;
}

.passedSubject {
    color: green;
}

.failedSubject {
    color: red;
}

.bold {
    font-weight: bold !important;
}

.table {
    text-align: center !important;
}
